<!-- Capture and store a URL -->
{% assign location = page.url | replace: '/', '' %}

<header class="main-header" role="banner">
  <div class="grid">
    <div class="grid__col--12">
      <a class="site-logo" href="/" title="{{ site.subtitle }}">{{ site.title }}</a>
      <nav class="navbar" role="navigation">
        <ul class="nav">

<!-- Static nav menu with current location indicator --
          <li {% if page.location == 'About' %} class="nav__item--current" {% else %}
            class="nav__item" {% endif %}>
            <a href="/about">About</a>
          </li>
          <li {% if page.location == page.title %} class="nav__item--current" {% else %}
            class="nav__item" {% endif %}>
            <a href="/recomendations">Recomendations</a>
          </li>
          <li {% if page.location == page.title %} class="nav__item--current" {% else %}
            class="nav__item" {% endif %}>
            <a href="/contact">Contact</a>
          </li>
-->

<!-- Dynamic nav menu with current location indicator -->
        {% for page in site.pages %}
          <!-- Compare the page title to the URL -->
          {% assign current = page.title | downcase %}
          
          {% if page.title %}
            <li {% if current == location %} class="nav__item--current" {% else %}
            class="nav__item" {% endif %}>
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
          {% endif %}

        {% endfor %}

        </ul>
      </nav>
    </div>
  </div>
</header>
