// ==========================================================================
// Projects
// Settings for the project items on the projects page.
// ==========================================================================

.project img {
	display: block;
	width: 300px;
	margin: 5px 5% 80px 0;
	border-radius: 7px;
	float: left;
	clear: both;
	@include mq(small) { 
		margin: 5px 100% 20px 0;
	}
}

.project div {

}