// ==========================================================================
// Stuff
// ==========================================================================

.stuff img {
	display: block;
	width: 275px;
	margin: 0 0 0 0;
	border-radius: 7px;
	@include mq(small) { 
		margin: 5px 100% 20px 0;
	}
}

.stuff div {
	width: 275px;
	float: left;
}